<div class="container p-3 my-3 border">
    <div>
        <div>
            <input  type="text" placeholder="" >
        </div>
        <div>
            <div>
            <button type="button" class="btn btn-outline-dark">+</button>
            <button type="button" class="btn btn-outline-dark">-</button>
            <button type="button" class="btn btn-outline-dark">*</button>
            <button type="button" class="btn btn-outline-dark">/</button>
            </div>
        </div>








    </div>
</div>